<style>
.col{
    margin-top: 3vw;
}


</style>

<div class="container" style="margin-top:3vw ">
    <div class="row">

        <div class="col col-lg-3 col-md-4 col-sm-6" >
            <% var x = 1;var title =  'WHAT IS STEM SCHOOLS'%>
            <% include card.ejs%>
            

        </div>
        <br>
        <div class="col col-lg-3 col-md-4 col-sm-6">
            <%  x = 2;var title =  'HOW TO APPLY'%>
            <% include card.ejs%>
            

        </div>
        
        
        <div class="col col-lg-3 col-md-4 col-sm-6">
            <% var x = 3;var title =  'GALLERY'%>
            <% include card.ejs%>
            

        </div>
        <div class="col col-lg-3 col-md-4 col-sm-6">
            <% var x = 3;var title =  'IQ TESTS'%>
            <% include card.ejs%>
            

        </div>
    

        <div class="col col-lg-3 col-md-4 col-sm-6">
            <% var x = 1;var title =  'capstone'%>
            <% include card.ejs%>
            

        </div>
        <div class="col col-lg-3 col-md-4 col-sm-6">
            <%  x = 2;var title =  'capstone'%>
            <% include card.ejs%>
            

        </div>
        <div class="col col-lg-3 col-md-4 col-sm-6">
            <% var x = 3;var title =  'capstone'%>
            <% include card.ejs%>
            

        </div>
        <div class="col col-lg-3 col-md-4 col-sm-6">
            <% var x = 3;var title =  'capstone'%>
            <% include card.ejs%>
            

        </div>
    </div>



</div>
