<style>

*{
    text-align: center;
}

</style>
<div class="ui special cards">
    <div class="card">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">Visit</div>
                    </div>
                </div>
            </div>
            <img src="images/<%=x%>.jpg">
        </div>
        <div class="content">
            <a style="font-family: 'Righteous', cursive;font-weight:400;text-align: center" class="header"><%=title%></a>
            <div class="meta">
                <span class="date">Created in Sep 2014</span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="users icon"></i>
                2 Members
            </a>
        </div>
    </div>

</div>
