
 <style>
        .fab{color: rgb(255, 255, 255); transition: 500ms;}
        .icon{font-size:2rem; margin-left: 1%;}
        .fa-facebook-square:hover{color:#3b5998;}
        .fa-instagram:hover{color:rgb(235, 0, 0);}
        .fa-twitter-square:hover{color:#1dcaff}
       
        a {text-decoration: none !important;}
        </style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">STEMEGYPT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery">Gallery</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/quiz" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quizes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">IQ tests</a>
                <a class="dropdown-item" href="#">Math tests</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Other tests</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gallery">Gallery</a>
              </li>
              <li class="nav-item">

                
                  
                </li>
          </ul>
          
         
         
          <button class="btn btn-warning " style="margin-left:1%;" ><strong>HOW TO APPLY TO STEM SCHOOLS</strong></button>
          

          

      </nav>
     