<%include partials/header.ejs%>




<%include partials/header_animation.ejs%>




<h1 style="
font-family: 'Righteous', cursive;font-weight:800;
font-size: 3vw;

 color: rgb(255, 255, 255);

 width: 100%; 
 text-align: center;
 margin-top: 12vw">WELCOME TO STEM SCHOOLS IN EGYPT</h1>

<center>
    <button class=" btn-lg btn-warning" style="width:20vw; margin-top: 3vw; height: 3vw">
        <h1 style="
            font-family: 'Righteous', cursive;font-weight:400;
            font-size: 1vw;
            
             color: rgb(0, 0, 0);
            
             width: 100%; 
             text-align: center; "> GET STARTED</h1>
    </button>
</center>
</div>












<%include partials/all_cards.ejs%>




<%include partials/footer.ejs%>
<script>
    $('.special.cards .image').dimmer({
        on: 'hover'
    });</script>