<%include partials/header.ejs%>
<%include partials/navbar.ejs%>
<style>
.col-lg-4{
    background-color: blanchedalmond;
}
</style>



<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="">
        </div>

        <div class="col-lg-4">
            <img src="">
        </div>

        <div class="col-lg-4">
            <img src="">
        </div>

        <div class="col-lg-4">
            <img src="">
        </div>
    </div>
</div>


<%include partials/footer.ejs%>